<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/style.css"/>
   <title>Language Index</title>
</head>
<body id ="language">
  <h1>Languages</h1>
  <div id='languages'>
    <% languages.forEach(l => { %>
      <div id="main">
          <p ><%= l.language %> </p>
          <p><a href="/languages/<%= l._id %>">Learn More</a></p>
      </div>
      <% if (user) { %>
      </div>
      <form action="/languages/<%=l.id%>/edit" method="PUT" >
        <button type="submit">Edit</button>
      </form>
      </form>
      <form action="/languages/<%=l.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
      </div>
      
      <% } %>  
      </div>
    <% }) %>
    </div>
</div>
</body>
</html>

