<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayat'àan</title>
</head>
<body>
    <h1>Mayat'àan</h1>
    <article>Mayat'àan  is  the language  of the Yucatec Maya people who are from and currently reside in the Yucatan Peninsula of Mexico as well as the northern part of Belize.</article>
    <br>
    <article><strong>Helpful Tips:</strong> when speaking Mayat'àan X’s are pronounced ‘sh’ and J’s are prounce like an H</article>
</body>
</html>