<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nahuatl</title>
</head>
<body>
    <h1>Nahuatl</h1>
    <article>Varieties of Nahuatl are spoken by about 1.7 million Nahua peoples, most of whom live mainly in Central Mexico.</article>
    <article><strong>Helpful Tips:</strong>when speaking Nahuatl to make the TL sound put your tongue to the roof of your mouth and then make the 'tl' sound.</article>
</body>
</html>