<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css"/>
    <title>Reconnect and Reclaim</title>
</head>
<body id = "home"> 
    <div id ="nav" >
          <% if (user) { %>
            <a href="/logout">Log Out</a>
          <% } else { %>
            <a href="/auth/google"> Login with Google</a>
          <% } %>       
          <% if (user) { %>
            <a href="/languages/new">Add Language</a>

          <% } %>         

      <a href="/languages/languageIndex">Languages</a>
  </div>
        

<div class ="startingBlock">
  <div class= "background">
    <img src="images/border.png" alt="">
  </div>
  <div class="text">
    <h1>Reconnect <br> and <br> Reclaim</h1>


<p><h3>About Us</h3><br>Reconnecting to your heritage and learning your native language can be difficult since there aren't many resources available. Here you can find an index of useful phrases to help you on your journey! - Dios Bo'otik. </p>

  </div>
</div>
</body>
</html>