<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <title>Reconnect and Reclaim</title>
</head>
<body> 
    <a href="/auth/google">Login with Google</a>

    <a href="/logout">Log Out</a>
    
        
    <h1>Reconnect <br> and <br> Reclaim</h1>
<nav>
    <a href="/languages/mayataan">Mayat'àan</a>
    <a href="/languages/quechua">Quecha</a>
    <a href= "/langugaes/nahautl">Nahuatl</a>
    <a href="languages/muysccubun">Muysccubun</a>
</nav>
    

<p><h3>About Us</h3><br>Reconnecting to your heritage and learning your native language can be difficult since there aren't many resources available. Here you can find an index of useful phrases and sign up to teach or take classes. </p>
</body>
</html>