.background{
  background-color: lightcoral;
  height: 100%;
  width: 60%;
  position: relative;
}
.login{

 text-align:right;
}

h1{
  text-align: center;
  
}
.startingBlock{
  display: flex;
  background-color: lawngreen;
  height: 100vh;
  width:100vw;
}

.text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: lightseagreen;
  height:100%;
  width: 40%;
}
img{
 height: 100%;
 width: 100%;

}